<section>
  <%= render 'shared/user_card', user: @user %>

  <div class='bio'>
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <ul class='posts'>
    <% @user.three_recent_posts.each_with_index do |post, index| %>
      <li class='post border1'>
        <%= render 'shared/post_card', post: post %>
      </li>
    <% end %>
  </ul>

  <div class='see-all'><%= link_to 'See all posts', user_posts_path(@user), class: 'border1' %></div>
</section>