<% if post.comments_counter == 0 %>
  <div class='comment_list'>
    <p>No comments yet!</p>
  </div>
<% end %>

<% if post.comments_counter > 0 %>
  <ul class='comment_list'>
    <% comments.each do |comment| %>
      <li class='comment_item'>
        <p><%= comment.author.name %></p>
        <p class='comment-box border1'><%= comment.text %></p>
      </li>
    <% end %>
  </ul>
<% end %>