<% if post.comments_counter == 0 %>
  <div class='comment_list'>
    <p>No comments yet!</p>
  </div>
<% end %>

<% if post.comments_counter > 0 %>
  <ul class='comment_list'>
    <% comments.each do |comment| %>
      <li class='comment_item'>
        <span>
          <p><%= comment.author.name %></p>
          <p class='comment-box border1'><%= comment.text %></p>
        </span>

        <%= render 'shared/delete_btn', object: comment, path: user_post_comment_path(@user, post, comment) %>
      </li>
    <% end %>
  </ul>
<% end %>