<section>
  <%= render 'shared/user_card', user: @user %>

  <ul class='posts'>
    <% @user.posts.each_with_index do |post, index| %>
      <li class='post border1'>
        <%= render 'shared/post_card', post: post %>

        <%= render 'shared/comment', post: post, comments: post.five_recent_comments %>
      </li>
    <% end %>
  </ul>
</section>