.header {
  position: fixed;
  inset: 1rem auto 1rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--very-dark);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  #logo {
    color: var(--white);
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--dark);
  }

  .nav_link {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: var(--grey);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: var(--white);
      background-color: var(--dark);
    }

    &.active {
      background-color: var(--dark-grey);
    }
  }
}
