.post {
  &_card {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        .btn-delete {
          visibility: visible;
        }
      }

      h3 a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-grid {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_comments-likes {
      text-align: right;
      font-size: 0.85em;
    }
  }

  &_content {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;

    .head {
      background-color: var(--light-grey);
      border-radius: 0.5rem;

      .post_card-header {
        padding-bottom: 0.5rem;
      }
    }

    h1 {
      margin: 0;
    }

    &-author {
      font-size: 0.55em;
      color: var(--dark-grey);
    }

    .actions {
      text-align: left;
    }
  }
}
