.post {
  &_content {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;

    .actions {
      text-align: left;
    }
  }

  &_card {
    &_comments-likes {
      text-align: right;
      font-size: 0.85em;
    }
  }

  &_infull {
    .content h1 {
      margin: 0;
    }
  }
}
